In [1]:
import pandas as pd

# import data

In [2]:
area_spm = pd.read_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/Parameters Time series/area_SPM_time_series.csv').drop(columns=['Unnamed: 0'])
precipitation = pd.read_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/Parameters Time series/mean_precip_acum.csv')
discharge = pd.read_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/Parameters Time series/mean_watershed_discharge.csv')
wind = pd.read_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/Parameters Time series/mean_watershed_wind.csv')

# organize dataframes

In [3]:
print('colunms area', area_spm.columns)
print('colunms precipitation', precipitation.columns)
print('colunms discharge', discharge.columns)
print('colunms wind', wind.columns)

colunms area Index(['area_km2', 'mean_SPM', 'max_SPM', 'min_SPM', 'stdDev_SPM', 'month_end',
       'month_init', 'timestamp', 'year', 'WATER_PERIOD'],
      dtype='object')
colunms precipitation Index(['mean_precipitation', 'month', 'timestamp', 'year'], dtype='object')
colunms discharge Index(['water_period', 'year', 'start_month', 'Maxima', 'Minima', 'Media'], dtype='object')
colunms wind Index(['mean_u__wind', 'mean_v__wind', 'month', 'timestamp', 'year'], dtype='object')

In [4]:
area_spm = area_spm[['area_km2', 'mean_SPM', 'max_SPM', 'min_SPM', 'stdDev_SPM', 
       'month_init', 'year', 'WATER_PERIOD']].copy()
precipitation = precipitation[['mean_precipitation', 'month', 'year']].copy()
discharge = discharge[['water_period', 'year', 'start_month', 'Maxima', 'Minima', 'Media']].copy()
wind = wind[['mean_u__wind', 'mean_v__wind', 'month', 'year']].copy()

In [6]:
area_spm.columns = ['area_km2', 'mean_SPM', 'max_SPM', 'min_SPM', 'stdDev_SPM', 
       'month_init', 'year', 'water_period']
precipitation.columns = ['mean_precipitation', 'month_init', 'year']
discharge.columns = ['water_period', 'year', 'month_init', 'discharge_max', 'discharge_min', 'discharge_mean']
wind.columns = ['mean_u__wind', 'mean_v__wind', 'month_init', 'year']

In [7]:
def add_period(row):
    if row['month_init'] == 1 or row['month_init']== 2 or row['month_init'] == 3:
        val = 'R'
    elif row['month_init'] == 4 or row['month_init'] == 5 or row['month_init'] == 6:
        val = 'HW'
    elif row['month_init'] == 7 or row['month_init'] == 8 or row['month_init'] == 9:
        val = 'F'
    else:
        val = 'LW'
    return val

precipitation['water_period'] = precipitation.apply(add_period, axis=1)
wind['water_period'] = wind.apply(add_period, axis=1)

# merge dataframes

In [8]:
df_pt1 =  pd.merge(area_spm, precipitation, how="inner", on=["month_init", "year",'water_period'])
df_pt1

,area_km2,mean_SPM,max_SPM,min_SPM,stdDev_SPM,month_init,year,water_period,mean_precipitation
0,989.084758,73.535345,306.049042,6.644032,51.890127,1,2000,R,1290.486720
1,1335.446135,22.679618,282.490112,5.844900,15.929416,7,2000,F,249.195781
2,983.227657,134.038118,306.049042,8.780909,74.673074,10,2000,LW,207.142783
3,1134.171724,93.210925,306.049042,6.623919,65.276331,1,2001,R,1104.292270
4,1335.085554,18.724521,282.490112,5.401382,15.715166,4,2001,HW,684.242645
...,...,...,...,...,...,...,...,...,...
83,463.786451,208.968305,306.049042,6.781344,61.418259,10,2023,LW,173.824400
84,949.024621,36.722792,306.049042,5.868872,20.214386,1,2024,R,875.257258
85,1296.697903,32.580176,282.490112,5.754973,18.713887,4,2024,HW,924.966354
86,1268.924408,39.458892,226.239838,5.868872,12.820446,7,2024,F,72.889736
87,390.826379,198.915826,306.049042,6.048137,66.096093,10,2024,LW,306.114477

In [9]:
df_pt2 =  pd.merge(discharge, wind, how="inner", on=["month_init", "year",'water_period'])
df_pt2

,water_period,year,month_init,discharge_max,discharge_min,discharge_mean,mean_u__wind,mean_v__wind
0,R,2000,1,180970.060000,152791.390000,167251.600000,-0.933975,-0.411431
1,HW,2000,4,227387.056667,213442.970000,221137.763333,-1.415435,-0.156260
2,F,2000,7,210227.493333,187716.696667,199513.620000,-1.645349,0.055660
3,LW,2000,10,131677.151667,112206.038667,119414.215000,-1.344241,0.158495
4,R,2001,1,180008.923333,151748.301667,165210.756667,-1.400858,-0.424053
...,...,...,...,...,...,...,...,...
93,F,2023,7,193004.146667,150315.096667,174020.018667,-2.135300,-0.319460
94,LW,2023,10,86783.280000,63105.949667,71733.411333,-2.151992,-0.081562
95,R,2024,1,150532.343333,127500.926667,140132.016667,-1.783048,-0.281890
96,HW,2024,4,199498.360000,171633.060000,185468.000000,-1.509690,-0.353761
97,LW,2024,10,61237.440000,50618.246000,54955.098000,-1.758324,-0.094365

In [10]:
df_total = pd.merge(df_pt1, df_pt2, how="inner", on=["month_init", "year",'water_period'])
df_total

,area_km2,mean_SPM,max_SPM,min_SPM,stdDev_SPM,month_init,year,water_period,mean_precipitation,discharge_max,discharge_min,discharge_mean,mean_u__wind,mean_v__wind
0,989.084758,73.535345,306.049042,6.644032,51.890127,1,2000,R,1290.486720,180970.060000,152791.390000,167251.600000,-0.933975,-0.411431
1,1335.446135,22.679618,282.490112,5.844900,15.929416,7,2000,F,249.195781,210227.493333,187716.696667,199513.620000,-1.645349,0.055660
2,983.227657,134.038118,306.049042,8.780909,74.673074,10,2000,LW,207.142783,131677.151667,112206.038667,119414.215000,-1.344241,0.158495
3,1134.171724,93.210925,306.049042,6.623919,65.276331,1,2001,R,1104.292270,180008.923333,151748.301667,165210.756667,-1.400858,-0.424053
4,1335.085554,18.724521,282.490112,5.401382,15.715166,4,2001,HW,684.242645,225499.916667,217867.040000,222300.540000,-1.321960,-0.093279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,1393.733107,27.691303,233.446442,5.801264,10.494394,7,2023,F,80.883509,193004.146667,150315.096667,174020.018667,-2.135300,-0.319460
82,463.786451,208.968305,306.049042,6.781344,61.418259,10,2023,LW,173.824400,86783.280000,63105.949667,71733.411333,-2.151992,-0.081562
83,949.024621,36.722792,306.049042,5.868872,20.214386,1,2024,R,875.257258,150532.343333,127500.926667,140132.016667,-1.783048,-0.281890
84,1296.697903,32.580176,282.490112,5.754973,18.713887,4,2024,HW,924.966354,199498.360000,171633.060000,185468.000000,-1.509690,-0.353761
85,390.826379,198.915826,306.049042,6.048137,66.096093,10,2024,LW,306.114477,61237.440000,50618.246000,54955.098000,-1.758324,-0.094365

In [12]:
df_total.to_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/Parameters Time series/merged_df/df_merged.csv')